---
import Icon from "astro-icon";
import { ViewTransitions } from "astro:transitions";
import DesktopHeader from "../components/header/DesktopHeader.astro";
import MobileHeader from "../components/header/MobileHeader.astro";
interface Props {
  title: string;
  description?: string;
  hideHeading?: boolean;
  thumbnail?: string;
  isPost?: boolean;
}

const { title, description, hideHeading, thumbnail, isPost } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={thumbnail} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={isPost ? "article" : "website"} />
    <meta property="og:image" content={thumbnail} />
    <meta property="og:url" content="https://jenryk.rocks" />
    <meta property="og:site_name" content="Jenryk's portfolio" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
      :root {
        --text: #1f1005;
        --background: #fef9f6;
        --primary: #ce6722;
        --secondary: #f7dfcf;
        --accent: #d76b23;
      }
      .dark {
        --text: #faebe0;
        --background: #090401;
        --primary: #dd7631;
        --secondary: #301808;
        --accent: #dc7028;
      }

      ::-webkit-scrollbar {
        width: 5px;
        height: 0.5rem;
        appearance: none;
      }
      ::-webkit-scrollbar-track {
        background: #0000000e;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #c6c6c658;
        border-radius: 20px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background-color: var(--accent);
        cursor: pointer;
      }
    </style>
    <style is:global>
      .blog-post {
        @apply text-text font-body;
      }
      .blog-post p {
        @apply text-base tracking-normal leading-8;
      }
      .blog-post h1 {
        @apply text-3xl font-bold my-6;
      }
      .blog-post h2 {
        @apply text-2xl font-bold my-4;
      }
      .blog-post h3 {
        @apply text-xl font-bold my-3;
      }
      .blog-post h4 {
        @apply text-lg my-2;
      }
      .blog-post h5 {
        @apply text-base;
      }
      .blog-post h6 {
        @apply text-sm;
      }
    </style>
  </head>
  <body class="flex flex-col bg-background h-screen overflow-hidden">
    <DesktopHeader />
    <MobileHeader />
    <div
      id="scroll-container"
      class="flex flex-col w-full h-full overflow-y-auto"
    >
      <main
        transition:animate="slide"
        class="sm:px-16 flex flex-col items-center py-4 px-8 flex-1"
      >
        {
          !hideHeading && (
            <h1 class="text-text font-heading text-4xl text-center font-bold">
              {title}
            </h1>
          )
        }
        <slot />
      </main>
      <footer
        class="min-h-[4rem] text-text border-t-2 border-primary w-full flex gap-5 items-center justify-center [&_svg:hover]:text-primary [&_svg:hover]:cursor-pointer"
      >
        <a target="_blank" href="https://github.com/Jenrykster">
          <Icon name="mdi:github" size={45} />
        </a>
        <a target="_blank" href="mailto:joaoenrique.san@gmail.com">
          <Icon name="mdi:email" size={45} />
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/jenryk/">
          <Icon name="mdi:linkedin" size={45} />
        </a>
      </footer>
    </div>
  </body>
</html>
