---
import { Picture } from "astro-imagetools/components";
import Layout from './Layout.astro';

const {title, description, repo, link, image} = Astro.props.frontmatter
---
<Layout title={title}>
  <h1 class="text-text font-body text-4xl font-bold">{title}</h1>
  <div class="w-40 flex justify-around underline text-accent mb-4">
    <a href={repo}>repo</a>
    <a href={link}>link</a>
  </div>
  <Picture
      src={image}
      alt={`An image showing the visuals of the ${title} project`}
      width="550"
      height="300"
    />
  <q class="text-text font-body p-4">
    {description}
  </q>
  <section class="text-text font-body self-center blog-post max-w-3xl w-full">
    <slot/>
  </section>
</Layout>

<style is:global>
  .blog-post {
    @apply text-text font-body ;
  }
  .blog-post p {
    @apply text-base tracking-normal leading-8;
  }
  .blog-post h1 {
    @apply text-3xl font-bold my-6;
  }
  .blog-post h2 {
    @apply  text-2xl font-bold my-4;
  }
  .blog-post h3 {
    @apply  text-xl font-bold my-3;
  }
  .blog-post h4 {
    @apply  text-lg my-2;
  }
  .blog-post h5 {
    @apply  text-base;
  }
  .blog-post h6 {
    @apply  text-sm;
  }
</style>
